.title_group {
  color: #7b7b7b;
}

.blog_head h2 {
  padding: 20px 15px 18px;
  margin: 4rem 0px;
  color: #494949;
  background-color: #f7f7f7;
  /*背景透明に*/
  border-left: solid 5px #7db4e6;
  font-weight: bold;
}

.blog_head h3 {
  margin: 4rem 0px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 1rem 0px;
  border-left: 8px solid #7db4e6;
  color: #494949;
  font-weight: 600;
}

.blog_head h4 {
  margin: 4rem 0px;
  border-bottom: 4px solid #7db4e6;
}

.head2 {
  background: #f7f7f7;
  padding: 20px 15px 18px;
  color: #333;
  border-left: 9px solid #f48840;
  line-height: 40px;
}

.blog_post {
  margin-bottom: 30px;
  background-color: white;
}

.blog_thumb {
  max-height: 100%;
  height: 200px;
}

.blog_thumb img {
  object-fit: cover;
}

.down_content {
  padding: 40px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.down_content ul.post_info li {
  display: inline-block;
  margin-right: 8px;
}

.down_content ul.post_info li:after {
  content: "|";
  color: #aaa;
  margin-left: 8px;
}

.down_content h4 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.grid_system .down_content ul.post_info li {
  margin-right: 3px;
}

.grid_system .down_content ul.post_info li:after {
  margin-left: 5px;
}

.down_content ul.post_info li:last-child::after {
  display: none;
}

.down_content ul.post_info li {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
  transition: all 0.3s;
}

.down_content p {
  margin: 1rem 0px;
}

.down_content ul.post_share {
  text-align: right;
}

.down_content ul.post_tags li,
.down_content ul.post_share li {
  display: inline-block;
}

.down_content ul.post_tags li:first-child i,
.down_content ul.post_share li:first-child i {
  color: #f48840;
  margin-right: 5px;
}

.down_content ul.post_tags li,
.down_content ul.post_share li {
  color: #aaa;
}

.down_content ul.post_tags li a,
.down_content ul.post_share li a {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
  transition: all 0.3s;
}

.down_content ul.post_tags li a:hover,
.down_content ul.post_share li a:hover {
  color: #f48840;
}

.readMore {
  font-size: 15px;
  font-weight: 500;
  color: #f48840 !important;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #f48840;
  padding: 10px 18px;
  transition: all 0.3s;
  border-radius: 0.25rem;
}

.readMore:hover {
  background-color: #f48840;
  color: #20232e !important;
}

@media (min-width: 768px) {
  .blog_thumb {
    height: 322px;
  }
}

.blog_content ul {
  padding-left: 0.4rem;
  list-style: inside;
}

.blog_content blockquote {
  border-left: 5px solid #ddd;
  color: #777;
  padding: 1em;
  padding-right: 0;
  margin: 1.5em 0;
}
