@import "./variable.scss";
@import "./responsive.scss";

/* 

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

*/

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #f9f8f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @include sm {
    font-size: 14px;
  }
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

%base-head {
  margin: 0;
  @include sm {
    font-size: 1.25rem !important;
  }
}

h1 {
  @extend %base-head;
  font-size: 2rem;
}

h2 {
  @extend %base-head;
  font-size: 1.75rem;
}
h3 {
  @extend %base-head;
  font-size: 1.5rem;
}
h4 {
  @extend %base-head;
  font-size: 1.15rem;
}
h5 {
  @extend %base-head;
  font-size: 1rem;
}
h6 {
  @extend %base-head;
  font-size: 1rem;
}

.btn_orange {
  font-size: 15px;
  font-weight: 500;
  color: #f48840 !important;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #f48840;
  padding: 10px 18px;
  transition: all 0.3s;
  border-radius: 0.25rem;
}

.btn_orange:hover {
  background-color: #f48840;
  color: $black !important;
}
