@import "./responsive.scss";

:not(pre) > code[class*="language-"] {
  background-color: #eee !important;
  color: #333;
  padding: 0.1em 0.4em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  @include sm {
    font-size: 14px;
  }
}

pre[class*="language-"] {
  margin: 0px !important;
  @include sm {
    font-size: 14px;
  }
}

.gatsby-code-title {
  display: inline;
  position: relative;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #eee;
  background: #777;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  padding: 3px;
  top: 1px;
  word-break: break-all;
  @include sm {
    font-size: 14px;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #364549;
}
